{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="album py-5" id="france">
		<div class="container">
            
            <h1 class="mb-5 text-white display-4">Catégories</h1>

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for categorie in categories.genres %}
					<div class="col">
						<div class="card shadow-lg h-100 m-2 bg-dark text-white border-warning" style="border-radius: 1rem;">
							<div class="card-body">
								<h5 class="card-title">{{ categorie.name }}</h5>
								<a href="{{ path('app_categorie', {'idCat': categorie.id}) }}" class="btn btn-secondary" role="button" aria-pressed="true">Parcourir la catégorie</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
