{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-nowrap ">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="bg-dark d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="fs-5 d-none d-sm-inline text-warning">Profil</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="fs-5 d-none d-sm-inline text-warning">Films favoris</span></a>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="col-auto col-md-9 ">
            <section>
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">

                                <div class="card-header pt-2 border-warning">
				                    <h1 class="display-6">
		    	                        <h2 class="fw-bold display-6 mb-2 text-uppercase">Modification du profil</h2>
                                        <p class="text-white-50 mb-2">Vous pouvez modifier les informations liées à votre compte</p>
                                    </h1>					
				                </div>

                                <div class="card-body p-2 text-center">

                                    <div class="mb-md-5 mt-md-4 pb-5">
                                        {{form(form)}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %}
